CRON_TIME=*/5 * * * * *
SERVICE_URL=http://localhost:3000
GOOGLE_APP_PASSWORD=qlzumwvainyizlqo
GOOGLE_USER_EMAIL=23031429@itcelaya.edu.mx

MONGO_URL=mongodb://root:123456@localhost:27017/
MONGO_DB_NAME=noc-app-db
MONGO_USER=root
MONGO_PASSWORD=123456

POSTGRES_URL=postgres://postgres:123456@localhost:5432/noc_app_db
POSTGRES_DB=noc_app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456